---
import { Image } from "astro:assets";

// Importa las imágenes
import phishingimg from "../assets/img/index/phising-img.webp";
import troyanoimg from "../assets/img/index/troyano-img.webp";
import attackimg from "../assets/img/index/Atack-img-DDoS.webp";
import backdoorimg from "../assets/img/index/backdoor.webp";
import spywareimg from "../assets/img/index/spyware.webp";
import stealersimg from "../assets/img/index/stealers.webp";
---

<section class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 p-4 gap-4">
  <article class="flex w-full h-full gap-4">
    <div>
      <Image
        src={phishingimg}
        alt="Phishing index foto"
        width={669}
        height={360}
      />
    </div>
    <div>
      <h3 class="text-xl text-pink-600 font-bold mb-4">Phishing</h3>
      <p>Engaño en línea para robar información personal y financiera.</p>
    </div>
  </article>

  <article class="flex w-full h-full gap-4">
    <div>
      <Image
        src={troyanoimg}
        alt="Troyano index foto"
        width={800}
        height={400}
      />
    </div>
    <div>
      <h3 class="text-xl text-pink-600 font-bold mb-4">Troyano</h3>
      <p>Engaño en línea para robar información personal y financiera.</p>
    </div>
  </article>

  <article class="flex w-full h-full gap-4">
    <div>
      <Image
        src={attackimg}
        alt="Ataque DoS index foto"
        width={860}
        height={391}
      />
    </div>
    <div>
      <h3 class="text-xl text-pink-600 font-bold mb-4">Ataque DoD</h3>
      <p>Engaño en línea para robar información personal y financiera.</p>
    </div>
  </article>

  <article class="flex w-full h-full gap-4">
    <div>
      <Image
        src={backdoorimg}
        alt="Backdoors index foto"
        width={605}
        height={341}
      />
    </div>
    <div>
      <h3 class="text-xl text-pink-600 font-bold mb-4">Backdoors</h3>
      <p>
        Accesos ocultos para entrar en sistemas y robar información o causar
        daño.
      </p>
    </div>
  </article>

  <article class="flex w-full h-full gap-4">
    <div>
      <Image
        src={spywareimg}
        alt="Spyware index foto"
        width={800}
        height={400}
      />
    </div>
    <div>
      <h3 class="text-xl text-pink-600 font-bold mb-4">Spyware</h3>
      <p>
        Software que espía y roba información personal para beneficio económico
        del atacante.
      </p>
    </div>
  </article>

  <article class="flex w-full h-full gap-4">
    <div>
      <Image
        src={stealersimg}
        alt="Stealers index foto"
        width={474}
        height={240}
      />
    </div>
    <div>
      <h3 class="text-xl text-pink-600 font-bold mb-4">Stealers</h3>
      <p>
        Programas que roban datos sensibles, como contraseñas, para vender o
        usarlos de forma fraudulenta.
      </p>
    </div>
  </article>
</section>
